.header {
  background: #F9F9F9;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  max-height: 50px;
  width: 100%;
}
.logo {

}
.link {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: monospace;
}
