
// color
$base-color: #ffffff;
$text-color: #292929;
$bg-body-color: #EBEBEB;
$border-color: hsla(210, 18%, 87%, 1);
$link-color:#167ec3;

// font

$base-font: 'Noto Sans', sans-serif;
$base-font-width: 400 ; 
